/* #222831 #283b48 #00a6c0 #d8d7cc (配色) */

#Root {
    -fx-background-color: #FFFFFF;
}

#Button_Reset {
    -fx-font-weight: bold;
    -fx-text-fill: #e9760a;
    -fx-background-color: #e9c6ae;
    -fx-background-radius: 4px;
}

#Button_Reset:hover {
    -fx-text-fill: white;
    -fx-background-color: #e7801f;
}

#AnchorPane_DropArea {
    -fx-background-color: #E2E2E2;
    -fx-background-radius: 8px;
}

#Button_Play {
    -fx-font-weight: bold;
    -fx-text-fill: #1e88e5;
    -fx-background-color: #a7c5df;
    -fx-background-radius: 4px;
}

#Button_Play:hover {
    -fx-text-fill: white;
    -fx-background-color: #1e88e5;
}

#Button_Stop {
    -mfx-auto-clip: true;
    -fx-text-fill: rgba(0, 0, 0, 0.87);
    -fx-font-weight: bold;
    -fx-text-fill: #e44848;
    -fx-background-color: #eeb7b7;
    -fx-background-radius: 4px;
}
#Button_Stop:hover {
    -fx-text-fill: white;
    -fx-background-color: #e44848;
}

.mfx-button .mfx-ripple-generator {
    -mfx-ripple-radius: 40;
    -mfx-auto-clip: true;
}