* {
    /* #222831 #283b48 #00a6c0 #d8d7cc (配色) */
    -mfx-main: #00a6c0;
    -fx-text-fill: #d8d7cc;
    -mfx-text-he: #d8d7cc;
    -mfx-text-me: #d8d7cc;
    -fx-control-inner-background: #222831;

    -sample-dark1: #222831;
    -sample-dark2: #283b48;
    -sample-accent: #00a6c0;
    -sample-light: #d8d7cc;
}

/* メインのAnchorPane */
#Root {
    -fx-text-fill: #d8d7cc;
    -fx-background-color: #222831;
}

/* パスリセットのボタン */
#Button_Reset {
    -fx-text-fill: #00a6c0;
    -fx-background-color: #dadada;
    -fx-background-radius: 4px;
}
#Button_Reset:hover {
    -fx-font-weight: bold;
    -fx-text-fill: #d8d7cc;
    -fx-background-color: #00a6c0;
}

/* ドラッグドロップ用のエリア */
#AnchorPane_DropArea {
    -fx-text-fill: #283b48;
    -fx-font-family: "Segoe UI Semibold";
    -fx-background-color: #d8d7cc;
    -fx-background-radius: 8px;
}

/* 停止ボタン */
#Button_Play {
    -fx-font-weight: bold;
    -fx-text-fill: #2196f3;
    -fx-background-color: #a7c5df;
    -fx-background-radius: 4px;
}
#Button_Play:hover {
    -fx-text-fill: #d8d7cc;
    -fx-background-color: #2196f3;
}
#Button_Play:disabled {
    -fx-text-fill: #d8d7cc;
    -fx-background-color: #283b48;
}

/* 再生停止ボタン */
#Button_Stop {
    -mfx-auto-clip: true;
    -fx-text-fill: rgba(0, 0, 0, 0.87);
    -fx-font-weight: bold;
    -fx-text-fill: #EF6E6B;
    -fx-background-color: #eeb7b7;
    -fx-background-radius: 4px;
}
#Button_Stop:hover {
    -fx-font-weight: bold;
    -fx-text-fill: #d8d7cc;
    -fx-background-color: #EF6E6B;
}
#Button_Stop:disabled {
    -fx-text-fill: #d8d7cc;
    -fx-background-color: #283b48;
}

/* 高精度モードのチェックボックス */
#CheckBox_useHP {
    -fx-text-fill: #d8d7cc;
}
.mfx-checkbox {
    -mfx-main: #00a6c0;
    -mfx-secondary: #d8d7ccba;
}

/* ボタンを押した時のエフェクト */
.mfx-button .mfx-ripple-generator {
    -mfx-ripple-radius: 40;
    -mfx-auto-clip: true;
}

/* ファイルのドラッグ&ドロップエリアに置いてる2行の文字列 */
#Text_Drop {
    -fx-text-fill: #283b48;
}

/* トラック選択の上に表示させてる文字 */
#Text_TSelector {
    -fx-font-weight: bold;
    -fx-text-fill: #d8d7cc;
}
.mfx-toggle-button {
    -mfx-main: #00a6c0;
}
.mfx-scroll-pane {
    -fx-background-color: transparent;
    -fx-border-color: #283b48;
}
.mfx-scroll-pane:focused {
    -fx-background-color: transparent;
    -fx-border-color: #283b48;
}

/* 入力フィールド全体 */
.mfx-text-field {
    -mfx-main: #00a6c0;
    -fx-background-color: transparent;
    -fx-border-color: #d8d7cc;
  }
  .mfx-text-field .text-field {
    -fx-text-fill: #d8d7cc;
    -fx-prompt-text-fill: #d8d7cc60;
    -fx-text-box-border: #222831;
    -fx-background-color: #22283132;
  }
  .mfx-text-field:focus-within {
    -fx-background-color: #222831;
  }
  .mfx-text-field .floating-text {
    -fx-text-fill: #d8d7cc;
  }
  .mfx-text-field:floating .floating-text {
    -fx-background-color: #222831;
  }
  .mfx-text-field .measure-unit {
    -fx-text-fill: #d8d7cc;
  }
  .mfx-text-field .text-field:focused {
    -fx-focus-color: #222831;
    -fx-faint-focus-color: #222831;
  }

/* Combo box */
.mfx-combo-box .caret .mfx-ripple-generator {
    -mfx-ripple-color: rgba(0, 166, 192, 0.1);
}
.mfx-combo-box-cell {
    -mfx-main: #00a6c0;
    -mfx-hover: #005f6d;
    -mfx-selected: #004b57;
    -fx-background-color: #283b48;
    -fx-background-radius: 0;
}