* {
    /* #222831 #283b48 #00a6c0 #d8d7cc (配色) */
    -mfx-main: #00a6c0;
    -fx-text-fill: #d8d7cc;
    -mfx-text-he: #d8d7cc;
    -mfx-text-me: #d8d7cc;
    -fx-control-inner-background: #222831;

    -sample-dark1: #222831;
    -sample-dark2: #283b48;
    -sample-accent: #00a6c0;
    -sample-light: #d8d7cc;
}

/* タイトルバー */
#TitleBar {
    -fx-text-fill: #d8d7cc;
    -fx-background-color: #191d24;
    -fx-border-width: 0 0 1px 0; /* up right down left */
    -fx-border-color: #2a2e34;
}

/* タイトルのテキスト */
#Text_Title {
    -fx-font: 12px Sans;
    -fx-fill: #d8d7cc;
}

/* ウィンドウを閉じるボタン */
#Button_Close {
    -fx-text-fill: #d8d7cc;
    -fx-background-color: #191d24;
    -fx-background-radius: 0px;
}
 #Button_Close:hover {
    -fx-background-insets: 1.0, 0.0, 0.0;
    -fx-background-color: #ea4441;
 }

/* メインのAnchorPane */
#Root {
    -fx-text-fill: #d8d7cc;
    -fx-background-color: #222831;
}

/* パスリセットのボタン */
#Button_Reset {
    -fx-text-fill: #00a6c0;
    -fx-background-color: #dadada;
    -fx-background-radius: 4px;
}
#Button_Reset:hover {
    -fx-font-weight: bold;
    -fx-text-fill: #d8d7cc;
    -fx-background-color: #00a6c0;
}

/* ドラッグドロップ用のエリア */
#AnchorPane_DropArea {
    -fx-text-fill: #283b48;
    -fx-font-family: "Segoe UI Semibold";
    -fx-background-color: #d8d7cc;
    -fx-background-radius: 8px;
}

/* 停止ボタン */
#Button_Play {
    -fx-font-weight: bold;
    -fx-text-fill: #2196f3;
    -fx-background-color: #a7c5df;
    -fx-background-radius: 4px;
}
#Button_Play:hover {
    -fx-text-fill: #d8d7cc;
    -fx-background-color: #2196f3;
}
#Button_Play:disabled {
    -fx-text-fill: #d8d7cc;
    -fx-background-color: #283b48;
}

/* 再生停止ボタン */
#Button_Stop {
    -mfx-auto-clip: true;
    -fx-text-fill: rgba(0, 0, 0, 0.87);
    -fx-font-weight: bold;
    -fx-text-fill: #EF6E6B;
    -fx-background-color: #eeb7b7;
    -fx-background-radius: 4px;
}
#Button_Stop:hover {
    -fx-font-weight: bold;
    -fx-text-fill: #d8d7cc;
    -fx-background-color: #EF6E6B;
}
#Button_Stop:disabled {
    -fx-text-fill: #d8d7cc;
    -fx-background-color: #283b48;
}

/* 入力プレビューを出すボタン */
#Button_Prev {
    -mfx-auto-clip: true;
    -fx-text-fill: rgba(0, 0, 0, 0.87);
    -fx-font-weight: bold;
    -fx-text-fill: #9f66d0;
    -fx-background-color: #d8d7cc;
    -fx-background-radius: 4px;
}
#Button_Prev:hover {
    -fx-font-weight: bold;
    -fx-text-fill: #d8d7cc;
    -fx-background-color: #9f66d0;
}
#Button_Prev:disabled {
    -fx-text-fill: #d8d7cc;
    -fx-background-color: #283b48;
}

/* 高精度モードのチェックボックス */
#CheckBox_useHP {
    -fx-text-fill: #d8d7cc;
}
.mfx-checkbox {
    -mfx-main: #00a6c0;
    -mfx-secondary: #d8d7ccba;
}

/* ボタンを押した時のエフェクト */
.mfx-button .mfx-ripple-generator {
    -mfx-ripple-radius: 40;
    -mfx-auto-clip: true;
}

/* ファイルのドラッグ&ドロップエリアに置いてる2行の文字列 */
#Text_Drop {
    -fx-text-fill: #283b48;
}

/* トラック選択の上に表示させてる文字 */
#Text_TSelector {
    -fx-font-weight: bold;
    -fx-text-fill: #d8d7cc;
}
.mfx-toggle-button {
    -mfx-main: #00a6c0;
}
.mfx-scroll-pane {
    -fx-background-color: transparent;
    -fx-border-color: #283b48;
}
.mfx-scroll-pane:focused {
    -fx-background-color: transparent;
    -fx-border-color: #283b48;
}

/* 入力フィールド全体 */
.mfx-text-field {
    -mfx-main: #00a6c0;
    -fx-background-color: transparent;
    -fx-border-color: #d8d7cc;
  }
  .mfx-text-field .text-field {
    -fx-text-fill: #d8d7cc;
    -fx-prompt-text-fill: #d8d7cc60;
    -fx-text-box-border: #222831;
    -fx-background-color: #22283132;
  }
  .mfx-text-field:focus-within {
    -fx-background-color: #222831;
  }
  .mfx-text-field .floating-text {
    -fx-text-fill: #d8d7cc;
  }
  .mfx-text-field:floating .floating-text {
    -fx-background-color: #222831;
  }
  .mfx-text-field .measure-unit {
    -fx-text-fill: #d8d7cc;
  }
  .mfx-text-field .text-field:focused {
    -fx-focus-color: #222831;
    -fx-faint-focus-color: #222831;
  }
/* 無効な状態のテキストフィールド */
/* -mfx-red: #EF6E6B */
.mfx-text-field:invalid {
    -mfx-main: #EF6E6B;
    -fx-border-color: #EF6E6B;
  }
  .mfx-text-field:invalid .text-field {
    -fx-text-fill: #EF6E6B;
  }
  .mfx-text-field:invalid .floating-text {
    -fx-text-fill: #EF6E6B;
  }
  .mfx-text-field:invalid .measure-unit {
    -fx-text-fill: #EF6E6B;
  }
  .mfx-text-field:invalid .floating-text {
    -mfx-main: #EF6E6B;
  }

/* Combo box */
.mfx-combo-box .caret .mfx-ripple-generator {
    -mfx-ripple-color: rgba(0, 166, 192, 0.1);
}
.mfx-combo-box-cell {
    -mfx-main: #00a6c0;
    -mfx-hover: #005f6d;
    -mfx-selected: #004b57;
    -fx-background-color: #283b48;
    -fx-background-radius: 0;
}

/* オフセットの調整用ボタン */
#Button_Offset {
    -fx-text-fill: #d8d7cc;
    -fx-background-color: transparent;
    -fx-min-width: 1px;
    -fx-min-height: 1px;
    -fx-font-size: 12px;
}
#Button_Offset .mfx-ripple-generator {
    -mfx-ripple-radius: 20;
    -mfx-auto-clip: true;
    -mfx-ripple-color: rgba(0, 166, 192, 0.1);
}
 #Button_Offset:hover {
    -fx-text-fill: #00a6c0;
 }